{{name}}
{% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
      {% endfor %}


{% extends "QuizIndexBundle::index.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
  Notre plateforme est un peu vide pour le moment, mais cela viendra !
{% endblock %}