{% extends 'QuizIndexBundle::base.html.twig' %}

{% block body %}
<h1>Category</h1>
<ul>
{% for cat in category %}
        <li> <a href="{{ path('question',  {'id':cat.id}) }}">{{ cat.name }}</a></li>
      {% endfor %}
      </ul>
{% endblock %}